<!doctype html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ .Params.dun_park_logo }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom css -->
    <link rel="stylesheet" href="/style.css">

    <title>{{ .Title }}</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-dark navbar-expand-md">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ .Params.dun_park_logo }}" alt="Dunedin Carpark logo" width="134" height="74"></a>
        <span class="fw-bold" style="color:#fff">local<br>friendly<br>service</span>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-uppercase fw-bold" id="navbarNavAltMarkup">
          <ul class="navbar-nav align-items-md-center">
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            <li class="nav-item margin-l"><a class="nav-link border border-3 d-inline p-2" href="#">Top</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="hero-image" style="background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url({{ .Params.photo }})">
      <div class="hero-text">
        <h1 class="text-center">{{ .Title }}</h1>
        <p class="text-center fw-bold fst-italic">{{ .Params.sub_title }}</p>
        {{ .Params.intro | markdownify }}
      </div>
    </div>

    <div class="container map">

      {{ range .Params.map_home }}
      <div class="row my-5 pb-5" id="{{ .loc_name | urlize }}">
        <!-- About the location -->
        <div class="col-md-6">
          <h1 class="fs-2">{{ .loc_name }}</h1>
          {{ .body | markdownify }}
        </div>
        <!-- Map -->
        <div class="col-md-6">
          <iframe src="{{ .loc_link }}" loading="lazy"></iframe>
        </div>
      </div>
      {{ end }}


    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
