html {
  -webkit-overflow-scrolling: touch;
}

body, html {
  height: 100%;
}

body {
  padding-top: 6rem;
}

h1, h2 {
  letter-spacing: 4px;
}

.navbar {
  background: #475577;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
  border-width: 2px;
}

@media(max-width: 768px) {
  li.margin-l {
    margin: 1.5rem 0;
  }
}

@media (min-width: 1200px) {
  .hero-image a {
    font-size: 1.3rem;
  }
}

.hero-image a:hover {
  color: #2d3f44;
}

.hero-image ul {
  list-style: none;
}

.hero-image ul li::before {
  content: "\2022";
  color: #475577;
  display: inline-block;
  width: 1em;
  font-size: 1.5rem;
}

li.contact-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: .3s;
}

li.contact-link:hover::after {
  width: 100%;
  /* transition: width .3s; */
}

li.margin-l {
  margin-left: 2rem;
}

.hero-image {
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image a {
  color: #475577;
}

.btn-primary {
  background-color: #f97352;
  border-color: #f97352;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #000000;
  border-color: #000000;
}

.container.map iframe {
  width: 100%;
  height: 300px;
}

.container.map .row {
  border-bottom: 2px solid #d9d9d9;
}

.container.map p {
  margin-bottom: 0.6rem;
}

.testimonials {
  background: #ededed;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .col-md-3.testimonials {
    width: 20%;
  }
  .col-md-3.testimonials:nth-child(-n+3) {
    margin-right: 5%;
  }
}

footer {
  background: rgb(40, 50, 78);
  color: #9c9c9c;
  margin-top: 7rem;
}

footer a {
  color: #9c9c9c;
}

footer a:hover {
  color: #838383;
}
